@charset "UTF-8";

header {
    position: relative;
    background: url('../img/pottedplant-large.jpeg') center center;

    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
}

header nav {
        display: block;
        width: 100%;
        z-index: 100;
        position: fixed;
        transition: 0.5s all;
}

header nav ul{
    float: right;
}

nav.visible {
    background-color: #00293B;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

header nav ul a{
    display: inline-block;
    color: rgba(255,255,255,0.8);
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    font-family: serif;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 0;
    padding-right: 20px;
    margin-right: 10px;
    font-size: 15px;
    letter-spacing: 0.1em;
}

header nav ul a:hover {
    color: rgba(75,158,181,1);
    transition: ease 0.2s;
}

.header-title {
    z-index: 0;
    position: absolute;
    display: block;
    color: rgba(255,255,255,0.8);
    top: 470px;
    max-width: 600px;
    left: 120px;
    font-family: 'Palatino', serif;
}
.header-title h1 {
    font-size: 32px;
    border-bottom: solid rgba(255,255,255,0.8) 2px;
    padding-bottom: 5px;
    float: left;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}
.header-title span {
    font-size: 20px;
    padding: 30px 0 0 0;
    float: left;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

.content-wrap {
    padding: 40px 120px 20px 120px;
}

h2  {
    font-size: 28px;
    text-align: center;
    font-variant: small-caps;
    font-weight: 700;
    color: rgba(0,0,0,0.8);
    padding: 15px 0;
    font-family: 'Palatino';
}

p {
    padding: 10px 0;
    display: block;
    font-size: 17px;
    line-height: 30px;
    color: rgba(0,0,0,0.7);
    font-family: 'Open Sans';
    min-width: 300px;
}
.center {
    font-style: italic;
    text-align: center;
}

.photocontainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
div[class^="photo-"] {
    text-align: center;
    width: 45%;
    min-width: 300px;
    align-content: space-around;
    justify-content: space-around;
    height: 300px;
    margin: 20px auto;
    background-size: cover;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.photo-1 {
    background: url('../img/ecogrow-office.jpg') center center no-repeat;
    width: 60% !important;
}
.photo-2 {
    background: url('../img/ecogrow-light.jpg') center center no-repeat;
}
.photo-3 {
    background: url('../img/ecogrow-wiring.jpg') center center no-repeat;
}


@media only screen and (max-width : 910px), only screen and (max-device-width : 910px) {
    .content-wrap {
        padding: 40px 70px 20px 70px;
    }
}
footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background: #00293B;
    padding: 15px 0 15px 120px;
}

.copyright {
    font-size: 13px;
    font-weight: 300;
    color: rgba(255,255,255,0.5);
}

.content-wrap::after {
    content: "";
    visibility: hidden;
    display: table;
    height: 0;
    clear: both;
}


@media only screen and (max-width : 480px), only screen and (max-device-width : 480px) {
    .content-wrap {
        padding: 40px 20px 20px 20px;
    }
    h2 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
        line-height: 24px;
    }


}
