@charset "UTF-8";

body {
    font-family: 'Lora', serif;
    overflow-x: hidden;
}
h2 {
    font-family: 'Palatino', serif;
    font-variant: small-caps;
    color: #00293B;
    font-size: 3em;
    padding: 50px 15px 40px;
    text-align: center;
    font-weight: 700;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../img/guy-acoustic-guitar.jpg') center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: white;
    font-family: 'Palatino', serif;
}

header ul {
    float: right;
}

header ul a {
    display: inline-block;
    padding: 20px 30px 0 0;
    font-variant: none;
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    font-family: "Open Sans", sans-serif;
    transition: ease 0.5s;
    text-transform: uppercase;
}

header ul a:hover {
    color: rgba(75,158,181,1);
}

header div.header-title {
    position: absolute;
    width: 99%;
    margin: auto;
    top: 62%;
    text-align: center;
    padding: 0 15px;
    box-sizing: border-box;
}

header div h1 {
    display: block;
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 10px;
    font-variant: small-caps;
}

header div p {
    font-size: 24px;
    font-style: italic;
}

 /* About Section  */

 section {
     box-sizing: border-box;
     width: 100%;
     padding: 0 10%;
 }

.about-icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    margin-bottom: 20px;
    padding: 0 5%;
}

.about-icons div {
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

div.headshot {
    width: 180px;
    height: 180px;
    border-radius: 90px;
    order: 3;
    /*     background: url('../img/headshot.png') right top no-repeat;    */
    background-color: white;
    border: solid rgba(75,158,181,1) 2px;
    background-size: cover;
}

.about-icons div svg {
    position: relative;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    margin: 0 0 0 -30px;
}
.icon1 {
    order: 1;
}
.icon4 {
    order: 3;
}
svg .fill {
    fill: orange;
}

.objective {
    font-family: 'Open Sans';

    position: relative;
    max-width: 700px;
    font-weight: 300;
    font-size: 20px;
    word-spacing: 0.7px;
    margin: 0 auto;
    padding: 30px 0 30px 20px;
    line-height: 30px;

}

.objective strong {
    font-size: 1.1em;
    font-weight: 700;
}

.objective .resume-container::after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.objective a {
    display: inline;
    position: relative;
    float: right;
    color: #00293B;
    text-decoration: underline;
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    padding: 20px 10px 0 0;
    text-align: right;
    transition: ease 0.5s;
}

.objective a:hover {
    color: rgba(75,158,181,1);
}

#skills {
    padding: 0 10px 30px;
}

div.skills-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skills-icons img {
    height: 75px;
}
div[class^="skill-"] {
    padding: 10px;
}

section#projects{
    background-color: #00293B;
    padding: 0;
}

#projects h2 {
    color: rgba(255,255,255,0.9);
}

.gallery {
    width: 100%;
    margin: 15px auto 0;
    padding: 50px 0;
}

/* An anchor tag with a attribute that starts with..*/
a[class^="gallery-item-"] {
    display: block;
    width: 33.33%;
    height: 300px;

    background: rgba(255,255,255,0);

    float: left;
    position: relative;
}

a.gallery-item-1 {
    background: url('../img/mac-coding-small.jpeg') center center no-repeat;
    background-size: cover;
}
a.gallery-item-2 {
    background: url('../img/arduino-pedal.jpg') center center no-repeat;
    background-size: cover;
}
a.gallery-item-3 {
    background: url('../img/todo-app.png') center center no-repeat;
    background-size: cover;
}

.gallery::after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.thumbnail-cover {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    opacity: 0;
    background: rgba(75,158,181,0.9);
}

.thumbnail-cover:hover {
    opacity: 1;
    transition: 0.7s ease;
}

.thumbnail-text {
    position: absolute;
    text-align: center;
    top: 40%;
    margin: 0 auto;
    font-family: 'Roboto', serif;
    width: 99%;
}
.thumbnail-text h4 {
    padding-bottom: 5px;
    font-size: 24px;
}

.thumbnail-text p {
    font-weight: 300;
    font-size: 20px;
}

.projects-link {
    padding: 30px 35px 90px 0;
    text-align: right;
}

.allprojects {
    color: #4E62C3;
    text-decoration: underline;
    font-weight: 700;
    font-size: 20px;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    font-family: 'Palatino', serif;
}

.allprojects:hover {
    color: rgba(78,98,195,0.8);
}

/* Contact styling */

.contact-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 5%;
}

div.contact-info, div.contact-form {
    margin: 10px;
    color: rgba(75,158,181,1);
    font-family: 'Palatino', serif;
}

div.contact-info {
    box-sizing: border-box;
    width: 80%;
    order: 1;
}

div.contact-form {
    box-sizing: border-box;
    order: 2;
    width: 650px;
    padding: 0 15px;
}

div.inputs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-main h3 {
    font-size: 36px;
    padding: 20px 10px;
}

.contact-info span {
    display: block;
    padding: 15px 10px;
    font-size: 26px;
}

.email a {
    color: inherit;
    text-decoration: none;
    transition: ease 0.5s;

}

.email a:hover {
    border-bottom: rgba(75,158,181,1) 2px solid;
}

.contact-info h3 {
    padding-bottom: 35px;
}

.form-left, .form-right{
    display: block;
    float: left;
    margin: 0 auto;
}

.contact-form div *{
    display: block;
}

.contact-form input, .form-content {
    border: 0;
    padding: 5px;
    height: 25px;
    width: 245px;
    border-radius: 2px;
    font-size: 14px;
    margin-bottom: 25px;
    background: rgba(255, 255, 255, 0.8);
}

input:focus, .form-content:focus,  input:hover, .form-content:hover{
    background: white;
}

textarea.form-content {
    height: 210px;
    width: 320px;
    margin-bottom: 15px;
}

.contact-form label {
    text-align: left;
    font-family: 'Lora', serif;
    font-size: 14px;
    color: #00293B;
    padding: 8px;
}

input#send {
    float: right;
    border-radius: 5px;
    height: 35px;
    width: 120px;
    margin-bottom: 20px;
    background: rgba(75,158,181,1);
    font-weight: 700;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border: solid 3px rgba(255, 255, 255, 1);
    transition: ease 1s;
}

input#send:hover {
    background: white;
    color: rgba(75,158,181,1);
    font-size: 17px;
}

section#contact {
    text-align: center;
    padding: 0 0 80px;
}

#contact::after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.contact-icons {
    padding: 40px 30% 20px;
    display: flex;
    justify-content: space-around;
}

.contact-icons a .fill{
    fill: white;
}

.contact-icons a {
    background: rgba(75,158,181,1);
    border-radius: 10px;
}

.contact-icons a:hover .fill{
    fill: #00293B;
    transition: ease 0.8s;
}

.github #square-60 {
    fill: white;
}

.github #github {
    fill: rgba(75,158,181,1);
}

a.github:hover #square-60 {
    fill: #00293B;
    transition: ease 0.8s;
}

a.github:hover #github {
    fill: white;
    transition: ease 0.8s;
}

.contact-icons a:hover{
    background: white;
    transition: ease 0.8s;
    border: solid #00293B 1px;
}

.contact-icons a {
    border: solid rgba(75,158,181,1) 1px;
    border-radius: 7px;
}

.contact-icons a svg {
    display: block;
    width: 70px;
    height: 70px;
}

footer {
    height: 100px;
    width: 100%;
    background: url('../img/guy-acoustic-guitar.jpg') center center no-repeat;
    background-size: cover;
    color: white;
}

footer ul {
    float: left;
    position: relative;
    top: 45%;
    padding-left: 20px;
}

footer ul a{
    display: inline-block;
    padding: 0 0 0 30px;
    font-variant: none;
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    font-family: "Open Sans", sans-serif;
    transition: ease 0.5s;
    text-transform: uppercase;
}

footer ul a:hover {
    color: rgba(75,158,181,1);
}

footer small {
    float: right;
    position: relative;
    top: 60%;
    padding: 10px 30px 0 0;
    font-size: 13px;
    font-weight: 300;
    color: rgba(255,255,255,0.5);
}

.inactivelink {
   cursor: default;
}

/* Button navigation for iPads and iPhones */

#menu {
    float: right;
    width: 0px;
    height: 30px;
    margin: 10px;
    z-index: 2;
}

#menu .fill {
    fill: white;
}

.side-nav {
    background: #5C5154;
    top: 0;
    bottom: 0;
    right: -300px;
    position: fixed;
    text-align: center;
    padding-top: 70px;
    z-index: 1000;
    transition: all ease 0.8s;
    width: 0;
}

.side-nav ul a {
    color: rgba(255,255,255,0.8);
    font-size: 20px;
    display: block;
    text-decoration: none;
    padding: 15px 0;
}

ul .main-link {
    font-size: 24px;
    padding: 20px 10px;
}

ul .main-link:hover {
    font-size: 26px;
    padding: 19px 10px;
}

 .side-nav ul a:hover {
    color: rgba(255,255,255,1);
    background: rgba(75,158,181,1);
    font-size: 21px;
    padding: 14.5px 10px;
    transition: all ease 0.8s;
}

.separator {
    display: block;
    background: white;
    width: 75%;
    height: 2px;
    margin: 40px auto;
}

.content-wrap {
    position: relative;
    transition: all ease 0.8s;
    overflow: auto;
    left: 0;
}

.fullpageLink {
    display: block;
    position: fixed;
    width: 0;
    height: 0;
    z-index: 1;
    background: #45414D;
    opacity: 0.5;
}

a[href^="tel:"] {
    pointer-events: none;
   cursor: default;
	text-decoration: none;
    color: inherit;
}

@media only screen and (max-width : 940px), only screen and (max-device-width : 940px) {
    a[class^="gallery-item-"] {
        width: 50%;
    }
    a[class^="gallery-item-"]:last-of-type{
        width: 100%;
    }
    header ul {
        display: none;
    }
    #menu {
        width: 30px;
    }
    .side-nav {
        width: 300px;
    }
    #content-wrap.active {
        left: -300px;
        overflow: hidden;
    }
    #sideNavigation.active {
        right: 0;
        box-shadow: 2px 0 4px;
    }
    a.active {
        width: 100%;
        height: 100vh;
    }
    .contact-info span {
        font-size: 22px;
    }

    .contact-icons a {
        margin: 10px;
    }
    a[href^="tel:"] {
        pointer-events: auto;
       cursor: auto;
    }
}

@media only screen and (max-width : 480px), only screen and (max-device-width : 480px) {
    a[class^="gallery-item-"] {
        width: 100%;
    }
    .skills-icons img {
        height: 55px;
    }
    .contact-info span {
        font-size: 18px;
        padding-left: 0;
        padding-right: 0;
    }
    .contact-icons a svg {
        display: block;
        width: 50px;
        height: 50px;
    }
    footer ul a{
        font-size: 12px;
    }
    footer small {
        font-size: 10px;
        padding-right: 10px;
    }
    div.headshot {
        width: 130px;
        height: 130px;
    }

    .objective {
        font-size: 16px;
        word-spacing: 0.5px;
        margin: 0 auto;
        padding: 30px 0 30px 20px;
        line-height: 30px;

    }

    .objective strong {
        font-size: 1.1em;
        font-weight: 700;
    }
    header div h1 {
        font-size: 36px;
        font-weight: 700;
        padding-bottom: 7px;
        font-variant: small-caps;
    }

    header div p {
        font-size: 18px;
        font-style: italic;
    }
    h2{
        font-size: 2.7em;
    }
    div.gallery {
        padding: 0;
    }
    header {
    background: url('../img/guy-accoustic-guitar-small.jpg') center center no-repeat;
    height: 425px;
    }
    a[href^="tel:"] {
        pointer-events: auto;
       cursor: auto;
    }
}
