@charset "UTF-8";

header {
    position: relative;
    background: url('../img/mac-coding.jpeg') center center;
        background:
            linear-gradient(
                rgba(0, 0, 0, 0.7),
                rgba(0, 0, 0, 0.7)
                )
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
}

header nav {
        z-index: 100;
        position: fixed;
        right: 30px;
}

header nav ul a{
    display: inline-block;
    color: rgba(255,255,255,0.5);
    font-family: serif;
    text-decoration: none;
    text-transform: uppercase;
    padding: 30px 10px 0;
    font-size: 13px;
    letter-spacing: 0.1em;

}

header nav ul a:hover {
    color: rgba(75,158,181,1);
    transition: ease 0.3s;
}

.header-title {
    z-index: 0;
    position: absolute;
    display: block;
    color: rgba(0,0,0,0.8);
    top: 470px;
    max-width: 600px;
    left: 120px;
    font-family: 'Palatino', serif;
}
.header-title h1 {
    font-size: 32px;
    border-bottom: solid rgba(0,0,0,0.8) 2px;
    padding-bottom: 5px;
    float: left;
}
.header-title span {
    font-size: 20px;
    padding: 30px 0 0 0;
    float: left;
}

.content-wrap {
    padding: 40px 40px 20px 120px;
}

.text-column {
    float: left;
    width: 40%;
    min-width: 225px;
}

.photo-column {
    float: left;
    width: 56%;
    min-width: 400px;
    padding: 0 0 0 30px;
}

h2  {
    font-size: 28px;
    text-align: center;
    font-variant: small-caps;
    font-weight: 700;
    color: rgba(0,0,0,0.8);
    padding: 15px 0;
    font-family: 'Palatino';
}

p {
    padding-top: 10px;
    display: block;
    font-size: 17px;
    line-height: 30px;
    color: rgba(0,0,0,0.6);
    font-family: 'Open Sans';
    min-width: 300px;
}

.photo-1 {
    display: block;
    width: 100%;
    height: 400px;
    background: url('../img/css-code.png') center center no-repeat;
    background-size: cover;
}

@media only screen and (max-width : 910px), only screen and (max-device-width : 910px) {
    .text-column {
        width: 80%;
        margin: auto;
    }

    .photo-column {
        width: 80%;
        margin: auto;
        padding-left: 0;
        padding-top: 30px;
    }
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background: #00293B;
    padding: 15px 0 15px 120px;
}
.copyright {
    font-size: 13px;
    font-weight: 300;
    color: rgba(255,255,255,0.5);
}

.content-wrap::after {
    content: "";
    visibility: hidden;
    display: table;
    height: 0;
    clear: both;
}
