@charset "UTF-8";

body {
    background-color: rgb(244, 245, 245);
}
p {
    font-size: 16px;
    line-height: 1.1em;
    font-family: "Open Sans", sans-serif;
    color: rgba(0,0,0,0.9);
    padding-bottom: 18px;
}
header {
    padding: 30px 40px;
    float: left;
}
header a {
    text-decoration: none;
    color: rgba(75,158,181,1);
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.1em;
}

div.title {
    padding: 80px 80px 40px;
    font-family: "Open Sans", sans-serif;
}
div.title h1 {
    font-size: 36px;
    padding-bottom: 10px;
}
div.title p{
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 40px;
    line-height: 1.1em;
    border-bottom: rgba(75,158,181,1) 2px solid;
}
.content {
    padding: 0 80px;
}
.content p{
        line-height: 1.4em;
}
