@charset "UTF-8";

header {
    background: url('/img/spackler-cool2.jpg') center center;
    background-size: cover;
    opacity: 1;
}

.photo-1 {
    background: url('/img/spackler-schematic.png') center center no-repeat;
}
.photo-2 {
    background: url('/img/spackler-board2.png') center center no-repeat;
}
.photo-3 {
    background: url('/img/spackler-board.png') center center no-repeat;
}
