@charset "UTF-8";
/*
header {
    background: url('/img/pottedplant-large.jpeg') center center;
}*/

.photo-1 {
    background: url('/img/spackler-schematic.png') center center no-repeat;
}
.photo-2 {
    background: url('/img/spackler-board2.png') center center no-repeat;
}
.photo-3 {
    background: url('/img/spackler-board.png') center center no-repeat;
}
