<section id="about">
    <h2>About</h2>

    <div class="about-icons">
        <div class="headshot"></div>
    </div>

    <div class="about-content">
        <p class="objective"><strong>I have a fierce passion for all things electronics and an enthusiastic desire to learn through various design projects. </strong>Undergraduate student at Queen’s University currently in 3rd year electrical engineering.
<br><br>
I highly value the experience that struggling through something on your own gives you. But I also enjoy being part of a small team working toward design solutions together.
<br><br>
A voracious reader who likes hockey, tennis, and guitar.
        <span class="resume-container"><a href="#">Resumé</a>
        </span>

        </p>
    </div>
</section>

<section id="skills">
    <h2>Skills</h2>
    <div class="skills-icons">
        <div class="skill-1"><img src="../img/html.jpeg" alt=""></div>
        <div class="skill-2"><img src="../img/css.jpeg" alt=""></div>
        <div class="skill-3"><img src="../img/javascript.jpg" alt=""></div>
        <div class="skill-4"><img src="../img/python.jpg" alt=""></div>
        <div class="skill-5"></div>
        <div class="skill-6"></div>
    </div>
</section>
