<section id="about">
    <h2>About</h2>

    <div class="about-icons">
        <div class="headshot"></div>
    </div>

    <div class="about-content">
        <p class="objective"><strong>I have a fierce passion for all things electronics and an enthusiastic desire to learn through various design projects. </strong>3rd year electrical engineering student at Queen’s University.
<br><br>
I highly value the experience of focuesed independant work, but enjoy the dynamic of a small team working towards a design solution.
<br><br>
A voracious reader, accomplished guitarist, active in hockey and tennis.
        <span class="resume-container"><a href="#" onclick="return false">Resumé</a>
        </span>

        </p>
    </div>
</section>

<section id="skills">
    <h2>Skills</h2>
    <div class="skills-icons">
        <div class="skill-1"><img src="../img/html.jpeg" alt=""></div>
        <div class="skill-2"><img src="../img/css.jpeg" alt=""></div>
        <div class="skill-3"><img src="../img/javascript.jpg" alt=""></div>
        <div class="skill-4"><img src="../img/python.jpg" alt=""></div>
        <div class="skill-5"></div>
        <div class="skill-6"></div>
    </div>
</section>
