<section id="about">
    <h2>About</h2>

    <div class="about-icons">
        <div class="headshot"></div>
    </div>

    <div class="about-content">
        <p class="objective"><strong>I have a fierce passion for innovative technology and an enthusiastic desire to learn through various side projects. </strong>
<br><br>
Highly motivated 3rd year engineering student at Queen's University with experience in programming, product and PCB design. Avid self-starter and hands-on learner.
<br><br>
A voracious reader, accomplished guitarist and enjoys playing hockey and tennis.
        <span class="resume-container"><a href="http://www.nolanbuzanis.com/documents/Nolan Buzanis Resume.pdf" target="_blank">Resumé</a>
        </span>

        </p>
    </div>
</section>

<section id="skills">
    <h2>Skills</h2>
    <div class="skills-icons">
        <div class="skill-1"><img src="../img/html.jpeg" alt=""></div>
        <div class="skill-2"><img src="../img/css.jpeg" alt=""></div>
        <div class="skill-3"><img src="../img/javascript.jpg" alt=""></div>
        <div class="skill-4"><img src="../img/arduino_logo.png" alt=""></div>
        <div class="skill-5"><img src="../img/Eagle_logo.png" alt=""></div>
        <div class="skill-6"><img src="../img/Matlab_logo.jpeg" alt=""></div>
        <div class="skill-7"><img src="../img/python.jpg" alt=""></div>
    </div>
</section>
