<section id="projects">
    <h2>Featured Projects</h2>
    <div class="gallery">
        <a href="./compass.html" class="gallery-item-1">
            <div class="thumbnail-cover">
                <div class="thumbnail-text">
                    <h4>Compass</h4>
                    <p>iOS todo app</p>
                </div>
            </div>
        </a>
        <a href="#" class="gallery-item-2">
            <div class="thumbnail-cover">
                <div class="thumbnail-text">
                    <h4>Project 2</h4>
                    <p>- in progress - </p>
                </div>
            </div>
        </a>
        <a href="#" class="gallery-item-3">
            <div class="thumbnail-cover">
                <div class="thumbnail-text">
                    <h4>Project 3</h4>
                    <p>- in progress - </p>
                </div>
            </div>
        </a>
        <a href="#" class="gallery-item-4">
            <div class="thumbnail-cover">
                <div class="thumbnail-text">
                    <h4>Project 4</h4>
                    <p>- in progress - </p>
                </div>
            </div>
        </a>
        <a href="#" class="gallery-item-5">
            <div class="thumbnail-cover">
                <div class="thumbnail-text">
                    <h4>Project 5</h4>
                    <p>- in progress - </p>
                </div>
            </div>
        </a>
        <a href="#" class="gallery-item-6">
            <div class="thumbnail-cover">
                <div class="thumbnail-text">
                    <h4>Project 6</h4>
                    <p>- in progress - </p>
                </div>
            </div>
        </a>
    </div>
    <div class="projects-link">
        <a href="#" class="allprojects">All Projects</a>
    </div>
</section>
