
<section id="projects">
    <h2>Featured Projects</h2>
    <div class="gallery">
        <a href="./projects/portfolio-website.html" class="gallery-item-1">
            <div id="gallerycover1"class="thumbnail-cover">
                <div id="gallerytext1" class="thumbnail-text">
                    <h4>{{page.project-title-1}}</h4>
                    <p>{{page.project-sub-1}}</p>
                </div>
            </div>
        </a>
        <a href="./projects/ecogrow.html" class="gallery-item-2">
            <div id="gallerycover2"class="thumbnail-cover">
                <div id="gallerytext2"class="thumbnail-text">
                    <h4>{{page.project-title-2}}</h4>
                    <p>{{page.project-sub-2}}</p>
                </div>
            </div>
        </a>
        <a href="./projects/snarkdoodlebuild.html" class="gallery-item-3">
            <div id="gallerycover3"class="thumbnail-cover">
                <div id="gallerytext3" class="thumbnail-text">
                    <h4>{{page.project-title-3}}</h4>
                    <p>{{page.project-sub-3}}</p>
                </div>
            </div>
        </a>
        <!--
<a href="#" class="gallery-item-4">
            <div class="thumbnail-cover">
                <div class="thumbnail-text">
                    <h4>{{page.project-title-4}}</h4>
                    <p>{{page.project-sub-4}}</p>
                </div>
            </div>
        </a>
        <a href="#" class="gallery-item-5">
            <div class="thumbnail-cover">
                <div class="thumbnail-text">
                    <h4>{{page.project-title-5}}</h4>
                    <p>{{page.project-sub-5}}</p>
                </div>
            </div>
        </a>
        <a href="#" class="gallery-item-6">
            <div class="thumbnail-cover">
                <div class="thumbnail-text">
                    <h4>{{page.project-title-6}}</h4>
                    <p>{{page.project-sub-6}}</p>
                </div>
            </div>
        </a>-->


    </div>
    <div class="projects-link">
        <!--          <a href="#" class="allprojects">All Projects</a>         -->

    </div>
</section>
