<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Nolan Buzanis</title>
        <link rel="stylesheet" type="text/css" href="../css/reset.css">
        <link rel="stylesheet" type="text/css" href="../css/default.css">
    </head>
    <body>

    <div class="side-nav" id="sideNavigation">
        <ul>
            <a class="main-link" href="../index.html">Home</a>
            <a class="main-link" href="#">All Projects</a>
            <div class="separator"></div>
            <a href="#">Compass</a>
            <a href="#">fb Simplify</a>
            <a href="#">Form.js</a>
        </ul>
    </div>

    </body>
</html>
