<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Nolan Buzanis</title>
        <link rel="stylesheet" type="text/css" href="../css/reset.css">
        <link rel="stylesheet" type="text/css" href="../css/default.css">
    </head>
    <body>

    <div class="side-nav" id="sideNavigation">
        <ul>
            <a class="main-link" href="../index.html">Home</a>
            <a class="main-link" href="#">All Projects</a>
            <div class="separator"></div>
            <a href="#">Compass</a>
            <a href="#">fb Simplify</a>
            <a href="#">Form.js</a>
        </ul>
    </div>

    <div id="content-wrap">

    <nav class="buttonNav" id="buttonNav">
        <a id="menuButton" href="#" onclick="toggleNav()">
            <svg id="menu" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <g>
            	<g>
            		<path d="M491.318,235.318H20.682C9.26,235.318,0,244.577,0,256s9.26,20.682,20.682,20.682h470.636
            			c11.423,0,20.682-9.259,20.682-20.682C512,244.578,502.741,235.318,491.318,235.318z"/>
            	</g>
            </g>
            <g>
            	<g>
            		<path d="M491.318,78.439H20.682C9.26,78.439,0,87.699,0,99.121c0,11.422,9.26,20.682,20.682,20.682h470.636
            			c11.423,0,20.682-9.26,20.682-20.682C512,87.699,502.741,78.439,491.318,78.439z"/>
            	</g>
            </g>
            <g>
            	<g>
            		<path d="M491.318,392.197H20.682C9.26,392.197,0,401.456,0,412.879s9.26,20.682,20.682,20.682h470.636
            			c11.423,0,20.682-9.259,20.682-20.682S502.741,392.197,491.318,392.197z"/>
            	</g>
            </g>
            </svg>
        </a>
    </nav>

    <article class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices mi nisi, nec porta velit hendrerit a. Donec et dictum tellus. Quisque accumsan gravida tempus. Mauris tempor, risus ut elementum feugiat, lorem diam hendrerit justo, sed laoreet orci enim eu lacus. Quisque vitae sodales nisi. Nunc at tortor ornare, ultricies felis eget, laoreet arcu. Nam et risus est. Vestibulum nec enim sem. Maecenas placerat ullamcorper elit. Nunc quis convallis neque. Nulla neque tellus, porta a pharetra nec, mattis ut enim. Sed pulvinar ipsum eros, sit amet elementum risus sodales a. Nunc bibendum cursus quam, id dapibus lectus faucibus posuere. Nullam ullamcorper sollicitudin felis nec rhoncus.</p>

<p>Ut ac placerat justo. Phasellus egestas, ipsum id pellentesque pharetra, sem sem posuere magna, at vulputate elit velit vel elit. Donec nec nisi facilisis, ullamcorper elit id, malesuada lectus. Nullam vel nunc sit amet ante vehicula interdum. In eu odio et felis vestibulum tempus ut id neque. Vestibulum volutpat ipsum eu placerat malesuada. Nulla scelerisque tortor felis, eu interdum justo eleifend nec. Integer sit amet eleifend urna. Sed ultrices augue quis mauris commodo maximus. In tempor ornare nulla, a rutrum nibh dictum non. Maecenas cursus, metus eu elementum vulputate, erat elit ullamcorper mauris, at pulvinar est ex sed odio.</p>

<p>Morbi facilisis metus at tellus faucibus maximus. Pellentesque luctus nec ipsum vel tempus. In maximus, justo id pulvinar euismod, dui eros cursus sem, ut tincidunt sapien erat vitae nisi. Proin non condimentum orci. Phasellus sit amet est quis odio volutpat faucibus. Morbi eu tristique nulla. Nunc ac molestie ligula. Maecenas scelerisque tellus id pharetra sodales. Aenean a odio nec ipsum pharetra congue. Donec justo elit, sagittis quis bibendum sit amet, cursus vel ex. Integer consequat nisi at justo semper, a euismod risus convallis. Morbi porttitor porttitor magna non vestibulum. Suspendisse rhoncus eu massa quis accumsan. Suspendisse sem urna, fringilla in neque in, auctor tempor nulla. Vivamus convallis iaculis odio, ac convallis tortor rhoncus nec.

Aliquam turpis ipsum, aliquet eu sodales eget, mollis molestie nunc. Phasellus convallis lacus eros, bibendum consequat mauris faucibus non. Donec ut faucibus nisl. Phasellus facilisis in erat ut elementum. Nullam et volutpat justo, at bibendum urna. Sed nec justo vitae sapien tempor consectetur. Donec consectetur nisl arcu, eget ullamcorper nisl vestibulum id. Phasellus pharetra scelerisque sem ac rhoncus. Curabitur vehicula velit vel neque finibus, sit amet fringilla turpis dapibus.

Nulla quis laoreet leo. Nam auctor aliquam placerat. Integer sollicitudin risus magna, a porttitor tortor sollicitudin vitae. Aliquam sit amet convallis dolor. Nulla nec dui sit amet orci hendrerit luctus sit amet et purus. Donec at egestas turpis. Nulla malesuada non augue vitae sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat metus id sem fermentum convallis. Quisque non tincidunt dui. Duis lacus justo, blandit sed tellus sit amet, venenatis finibus eros. Sed id facilisis tellus. Praesent hendrerit non magna id ultricies. Donec non dictum orci. Quisque faucibus congue massa nec porta.

Proin ornare quam ut felis lacinia tristique. Sed tincidunt dui sit amet risus ultrices, eget facilisis lacus rhoncus. Ut sed enim nunc. Pellentesque elementum ipsum quis lacus cursus, a elementum eros ullamcorper. Maecenas euismod sed diam eu elementum. Phasellus sit amet scelerisque orci, id ultricies ligula. Aliquam vel tortor vitae lacus dictum ullamcorper non in odio.

Aliquam facilisis ornare sollicitudin. Suspendisse vel felis purus. Cras a convallis ex. Vestibulum condimentum interdum efficitur. Nulla feugiat venenatis ligula, vitae aliquam quam auctor nec. Nunc maximus nunc velit, at luctus eros fermentum in. Aenean imperdiet ultrices ligula, non congue purus. In hac habitasse platea dictumst. Nam interdum faucibus erat id eleifend. Fusce semper arcu nisl, a tristique urna dapibus vitae. Duis viverra efficitur eleifend. Donec fermentum nisl id varius efficitur. Etiam diam mi, malesuada vel iaculis eu, ultrices eget arcu. Etiam sodales, sapien sed viverra mollis, ipsum diam dignissim dui, quis tincidunt elit velit a lorem. Mauris fringilla dolor non ex efficitur, quis vulputate tortor convallis. Duis vitae lacus sed eros lacinia vehicula.

Nulla tincidunt quis nunc in lacinia. Vestibulum finibus pretium lectus, vel aliquam risus mollis in. Curabitur euismod dictum nisi vel auctor. Suspendisse potenti. Cras est odio, ornare at ligula quis, pellentesque hendrerit arcu. Maecenas mollis, neque at tincidunt euismod, velit risus tempus sem, in dictum sem turpis ut sem. Nulla facilisi. Ut dapibus, velit bibendum posuere sagittis, nunc sapien porttitor massa, vel aliquet nisi tortor sed magna. Etiam suscipit aliquam eros, id condimentum erat efficitur in. Sed sed tempor risus. Fusce tincidunt dui non mi volutpat maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non tristique erat, sit amet condimentum justo. Nullam et facilisis augue. Nam sit amet leo efficitur, iaculis justo eget, aliquam sapien.

Duis malesuada orci sed placerat bibendum. Nam pellentesque mauris ac nisi ullamcorper molestie. Nunc sapien massa, egestas ut efficitur a, tincidunt malesuada mi. Sed posuere at odio ac euismod. Etiam sollicitudin vehicula aliquet. Vestibulum a nunc eleifend, aliquam eros et, porttitor urna. Donec laoreet magna in lacus fringilla, a mattis ligula efficitur. Nulla id velit nec dui varius tempor non eget tortor. Proin vitae libero justo. Nulla a suscipit ex. Vivamus in arcu aliquam ligula pharetra auctor. Sed eget est orci. In dolor tellus, tincidunt sed tristique a, laoreet ac nisl. Integer sollicitudin mauris in ante cursus faucibus.

Proin finibus magna id sapien faucibus eleifend. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. In aliquam velit quam, vitae laoreet dui hendrerit non. Cras interdum viverra dui, ac pellentesque ex. Praesent vulputate vitae leo non ullamcorper. Morbi maximus orci ac nibh dapibus euismod. Fusce a porttitor mi. Nam et faucibus dolor, dictum consequat nibh. In ut diam dictum, tempor sem a, posuere ligula. Vestibulum tempus tellus facilisis vehicula tempus. In hac habitasse platea dictumst. Morbi bibendum felis eget mattis vestibulum. Integer vestibulum feugiat sem non pellentesque.</p>
    </article>

    </div>
    <script>

var status = document.getElementById('menuButton').value;

        function toggleNav() {
            document.getElementById('sideNavigation').classList.toggle('active');
            document.getElementById('content-wrap').classList.toggle('active');
        }
    </script>

    </body>
</html>
