<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../css/reset.css">
        <link rel="stylesheet" type="text/css" href="../css/default.css">
    </head>
    <body>

    <div class="side-nav" id="sideNavigation">
        <ul>
            <a class="main-link" href="../index.html">Home</a>
            <a class="main-link" href="#">All Projects</a>
            <div class="separator"></div>
            <a href="../compass.html">Compass</a>
            <a href="#">fb Simplify</a>
            <a href="#">Form.js</a>
        </ul>
    </div>

    <div class="content-wrap" id="content-wrap">

    <nav class="buttonNav" id="buttonNav">
        <a id="menuButton" href="#" onclick="toggleNav()">
            <svg id="menu" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <g>
            	<g>
            		<path d="M491.318,235.318H20.682C9.26,235.318,0,244.577,0,256s9.26,20.682,20.682,20.682h470.636
            			c11.423,0,20.682-9.259,20.682-20.682C512,244.578,502.741,235.318,491.318,235.318z"/>
            	</g>
            </g>
            <g>
            	<g>
            		<path d="M491.318,78.439H20.682C9.26,78.439,0,87.699,0,99.121c0,11.422,9.26,20.682,20.682,20.682h470.636
            			c11.423,0,20.682-9.26,20.682-20.682C512,87.699,502.741,78.439,491.318,78.439z"/>
            	</g>
            </g>
            <g>
            	<g>
            		<path d="M491.318,392.197H20.682C9.26,392.197,0,401.456,0,412.879s9.26,20.682,20.682,20.682h470.636
            			c11.423,0,20.682-9.259,20.682-20.682S502.741,392.197,491.318,392.197z"/>
            	</g>
            </g>
            </svg>
        </a>
    </nav>

    <h2>{{page.title}}</h2>

		<article class="content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices mi nisi, nec porta velit hendrerit a. Donec et dictum tellus. Quisque accumsan gravida tempus. Mauris tempor, risus ut elementum feugiat, lorem diam hendrerit justo, sed laoreet orci enim eu lacus. Quisque vitae sodales nisi. Nunc at tortor ornare, ultricies felis eget, laoreet arcu. Nam et risus est. Vestibulum nec enim sem. Maecenas placerat ullamcorper elit. Nunc quis convallis neque. Nulla neque tellus, porta a pharetra nec, mattis ut enim. Sed pulvinar ipsum eros, sit amet elementum risus sodales a. Nunc bibendum cursus quam, id dapibus lectus faucibus posuere. Nullam ullamcorper sollicitudin felis nec rhoncus.</p>

			<p>Ut ac placerat justo. Phasellus egestas, ipsum id pellentesque pharetra, sem sem posuere magna, at vulputate elit velit vel elit. Donec nec nisi facilisis, ullamcorper elit id, malesuada lectus. Nullam vel nunc sit amet ante vehicula interdum. In eu odio et felis vestibulum tempus ut id neque. Vestibulum volutpat ipsum eu placerat malesuada. Nulla scelerisque tortor felis, eu interdum justo eleifend nec. Integer sit amet eleifend urna. Sed ultrices augue quis mauris commodo maximus. In tempor ornare nulla, a rutrum nibh dictum non. Maecenas cursus, metus eu elementum vulputate, erat elit ullamcorper mauris, at pulvinar est ex sed odio.</p>

			<p>Morbi facilisis metus at tellus faucibus maximus. Pellentesque luctus nec ipsum vel tempus. In maximus, justo id pulvinar euismod, dui eros cursus sem, ut tincidunt sapien erat vitae nisi. Proin non condimentum orci. Phasellus sit amet est quis odio volutpat faucibus. Morbi eu tristique nulla. Nunc ac molestie ligula. Maecenas scelerisque tellus id pharetra sodales. Aenean a odio nec ipsum pharetra congue. Donec justo elit, sagittis quis bibendum sit amet, cursus vel ex. Integer consequat nisi at justo semper, a euismod risus convallis. Morbi porttitor porttitor magna non vestibulum. Suspendisse rhoncus eu massa quis accumsan. Suspendisse sem urna, fringilla in neque in, auctor tempor nulla. Vivamus convallis iaculis odio, ac convallis tortor rhoncus nec.

			Aliquam turpis ipsum, aliquet eu sodales eget, mollis molestie nunc. Phasellus convallis lacus eros, bibendum consequat mauris faucibus non. Donec ut faucibus nisl. Phasellus facilisis in erat ut elementum. Nullam et volutpat justo, at bibendum urna. Sed nec justo vitae sapien tempor consectetur. Donec consectetur nisl arcu, eget ullamcorper nisl vestibulum id. Phasellus pharetra scelerisque sem ac rhoncus. Curabitur vehicula velit vel neque finibus, sit amet fringilla turpis dapibus.

			Nulla quis laoreet leo.
		</article>

    </div>
    <script>

        function toggleNav() {
            document.getElementById('sideNavigation').classList.toggle('active');
            document.getElementById('content-wrap').classList.toggle('active');
        }
    </script>

    </body>
</html>
