<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{page.title}}</title>
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/project.css">

        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <a href="../index.html">Home</a>
                    <a href="../index.html#about">About</a>
                    <a href="../index.html#projects">Projects</a>
                    <a href="../index.html#contact">Contact</a>
                </ul>
            </nav>
            <div class="header-title">
                <h1>{{page.title}}</h1>
                <span>{{page.subtitle}}</span>
            </div>
        </header>

        <div class="content-wrap">
            <div class="text-column">
                <p>{{content}}</p>
            </div>
            <div class="photo-column">
                <div class="photo-1">
                </div>
            </div>
        </div>

        <footer>
            <span class="copyright">© Copyright 2017 Nolan Buzanis</span>
        </footer>
    </body>
</html>
