<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{page.title}}</title>
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/simpleproject.css">

        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header>
            <nav>
                <a href="../index.html"><     <strong>Nolan</strong>Buzanis</a>
            </nav>
            <div class="title">
                <h1>{{page.title}}</h1>
                <p>{{page.subtitle}}</p>
            </div>
            <article class="content">
                <p>{{content}}</p>
                    </article>
        </header>
    </body>
</html>
